<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"><Product Id="*" Name="Hello, World!" Language="1033" Version="1.0.0" Manufacturer="Corpus Example" UpgradeCode="a438a51b-6297-55ff-bc1b-97074e1dc40f"><Package InstallerVersion="200" Compressed="yes" InstallScope="perUser"/><MediaTemplate/><Feature Id="Greeting" Title="Corpus Greeting" Level="1"/></Product></Wix>
