<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <system.web>
  <compilation targetFramework="4.0" />
  <httpHandlers>
   <add verb="GET" path="hello.axd" type="CorpusGreetingHandler" validate="true" />
  </httpHandlers>
 </system.web>
 <system.webServer>
  <validation validateIntegratedModeConfiguration="false" />
  <handlers>
   <add name="CorpusGreetingAxd" verb="GET" path="hello.axd" type="CorpusGreetingHandler" resourceType="File" preCondition="integratedMode" />
  </handlers>
 </system.webServer>
</configuration>
